body {
    font-family: Arial;
    text-align: center;
}

/* Buttons */
.buttons {
    margin: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

/* Gallery Layout */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Images */
.gallery img {
    width: 150px;
    height: 150px;
    margin: 10px;
    transition: 0.3s;
}

/* Hover effect */
.gallery img:hover {
    transform: scale(1.1);
}