body {
  font-family: Arial;
  text-align: center;
}

.buttons {
  margin: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  width: 150px;
}